.about {
  // background: $color-grey-dark-2;
  height: 93vh;
  width: 100vw;
  color: $color-white;

    &__video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: .4;
      overflow: hidden;
  
      &--content {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
  }
    &__hero {
      background-color: $color-blue-med;

      display: flex;
      padding: 3rem;
    }

    &__headers {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 3rem; 
    }

    &__photo {      
        max-width: 10rem;
        border-radius: 5px;
        align-self: center;
        justify-self: center;
      }

    &__title {
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      letter-spacing: 1.2rem;
      text-transform: uppercase;
      font-size: 4rem;
      color: $color-white;
      &:hover {
        transform: skewY(-5deg) scale(1.1);
      }
    }

    &__subtitle {
      font-size: 2.5rem;
      font-family: 'Lato', sans-serif;
      letter-spacing: 0.62rem;
      color: $color-grey-dark-1;
    }

    &__story {
      font-size: 1.8rem;
      font-family: sans-serif;
      line-height: 1.6;
      color: $color-blue-med;
      margin: 3rem 25vw;

      &:hover {
        transform: scale(1.25);
      }
    }


}

.skills {
    margin-top: 3rem;
    text-align: center;
    
    &__header {
        font-size: 2.5em;
        color: $color-black;
    }

    &__container {
    padding: 3rem;
    display: grid;
    grid-template-rows: minmax(30rem, 1fr);
    grid-template-columns: [card-1-start] minmax(20rem, 40rem) [card-1-end card-2-start] minmax(20rem, 40rem) [card-2-end card-3-start] minmax(20rem, 40rem) [card-3-end];
    grid-gap: 5rem;
    justify-content: center;
    }

    &__card {
      margin-top: 3rem;
      border: 2px solid $color-grey-light-1;
      border-radius: 1rem;
      box-shadow: 0 0 15px $color-grey-dark-2;
      background-color: $color-blue-light;

      &--header {
        font-size: 2rem;
        padding: 2rem;
        background-color: black;
        border-radius: 1rem 1rem 0 0;
      }

      &--list {
        font-size: 1.4rem;
        list-style: none;
        padding: 1rem;
      }

      &:hover {
        background-color: $color-blue-med;
        
        transform: translateY(-3px);
      }

    }
    
  }