// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$color-white: #fff;
$color-black: #000;


$color-beige: #f8d7b5;
$color-yellow: #ffbf00;
$color-blue-light-1: #cde7ef;
$color-blue-light-2: #5dbcd2;
$color-blue-light-3: lightsteelblue;
$color-blue-med: #0077be;
$color-blue-dark: midnightblue;
$color-grey-light-3: #ebebeb;


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  
}

html {
  // This defines what 1rem is.
  font-size: 62.5%;  //1 rem = 10px; i.e. 10px/16px = 62.5%
}
  