.footer {
    height: 7vh;
    background-color: $color-blue-light-3;
    display: flex;
    align-items: center;
    justify-content: center;

    &__contact {
      color: $color-white;
      

    }
}