.footer {
    height: 7vh;
    background-color: $color-grey-dark-2;
    display: flex;
    align-items: center;
    justify-content: center;

    &__contact {
      color: $color-white;
      
    }
}