.portfolio {
    text-align: center;
    background-image: linear-gradient(45deg, $color-white, 75%, $color-blue-light-3);
    min-height: 93vh;

    &__hero {
      background-color: $color-blue-light-3;
      margin-bottom: 3rem;
      clip-path: polygon(50% 100%, 0 0, 100% 0);

      @include respond(phone) {
        height: 22vh;
      }

      &-header {
        padding: 1.5rem;
        color: $color-white;
        font-family: "Lato", non-serif;
        font-weight: 900;
        font-size: 3.5rem;
        text-shadow: 2px 2px midnightblue;
        letter-spacing: 1rem;

        &:hover {
            transform: scale(1.1);
        }

        @include respond(phone) {
          font-size: 3rem;
          padding-bottom: 0;
        }

      }

      &-headerspan {
        @include respond(phone) {
          display: block;
          padding-top: .5rem;

        }
      }
      &-logo {
        width: 10%;
        transition: 1s;

        &:hover {
          transform: rotate(360deg);

        }

        @include respond(phone) {
          width: 15%;
        }
      }
    }
  
  &__dropdown {
    &--label {
      font-size: 1.9rem;
      font-weight: 700;
      color: $color-blue-med;
      margin-right: 1rem;
    }
    &--select {
      padding: 0.5rem;
      color: $color-blue-med;
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      border-radius: 0.5rem;
      background-color: $color-blue-light-3;
      &:focus {
        outline: $color-blue-med 2px solid;

      }
    }


    &--select option {
      font-size: 1.5rem;
      font-weight: 700;
      color: $color-blue-med;
    }

  }

  &__buttons {

    &--btn {
      width: 10rem;
      margin: 1rem;
      padding: .5rem;
      background-image: linear-gradient(to right bottom, $color-blue-light-3, $color-blue-light-2, white);
      font-size: 2rem;
      color: $color-white;
      border: none;
      border-radius: .5rem;
      box-shadow: 1px 1px 1px $color-white;
      &:hover {
        transform: translateY(2px) scale(1.1);
        box-shadow: 2px 2px 1px $color-white;
      }

      @include respond(tab-port) {
        width: 14rem;
        font-size: 2.5rem;
      }

      @include respond(phone) {
        width: 10rem;
        font-size: 1.75rem;
      }
    }    
  }
}

.projects {
    width: 100vw;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    animation: slideUp 1s;
}