.portfolio {
    text-align: center;
    background-image: linear-gradient(.5turn, $color-blue-med, 10%, $color-blue-med);

    &__hero {
      background-color: $color-blue-light-3;
      color: $color-white;
      font-family: "Lato", non-serif;
      font-weight: 900;
      font-size: 2rem;
      text-shadow: 2px 2px midnightblue;
      letter-spacing: 1rem;
      margin-bottom: 3rem;
      clip-path: polygon(50% 100%, 0 0, 100% 0);

      &-header {
        padding: 1.5rem;

        &:hover {
            transform: scale(1.5);
        }
      }

      &-logo {
        width: 10%;
        transition: 1s;

        &:hover {
          transform: rotate(360deg);

        }
      }
    }

  &__buttons {

    &--btn {
      width: 10rem;
      margin: 1rem;
      padding: .5rem;
      background-image: linear-gradient(to right bottom, $color-blue-light-3, $color-blue-light-2, white);
      font-size: 1.25rem;
      color: $color-white;
      border: none;
      border-radius: .5rem;
      box-shadow: 1px 1px 1px $color-white;
      &:hover {
        transform: translateY(2px) scale(1.1);
        box-shadow: 2px 2px 1px $color-white;
      }
    }    
  }
}

.projects {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    animation: slideUp 1s;
}