#root,
#root::before,
#root::after {
  box-sizing: border-box !important;
}

.resume {
  background-color: $color-blue-med;
}

.body-div {
  margin: 10%;
  margin-bottom: 0;
  background-color: $color-blue-med;
  border-bottom: $color-blue-med 20px solid;

  @include respond(tab-land) {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.container {
  padding-bottom: 3rem;
  background-color: $color-blue-med;
}

.hero {
  height: 20vh;
  background-color: $color-blue-light-3;
  color: $color-white;
  font-family: "Lato", non-serif;
  font-weight: 900;
  font-size: 2rem;
  text-shadow: 2px 2px midnightblue;
  letter-spacing: 1rem;
  text-align: center;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.hero-header {
  padding-top: 3rem;
  font-size: 3rem;
  color: $color-white;
  text-transform: uppercase;

  &:hover {
    transform: scale(1.2);
  }

  @include respond(tab-port) {
    padding-top: 3rem;
    font-size: 5rem;
  }

  @include respond(phone) {
    padding-top: 1.5rem;
    font-size: 3rem;
  }
} 

p {
  text-indent: 1%;
}

.header-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #f0f0f0;
  font-size: 30px;
}

.header-occupation {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f0f0f0;
  font-size: 20px;
}

.section-headers {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #618685;
  font-size: 22px;
  padding-top: 10px;
}

.main-sections {
  padding-left: 10px;
  padding-right: 15px;
  background-color: $color-white;
}

.skills-subheading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #618685;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 5px;
}

.skills-list {
  font-size: 16px;
  padding-left: 30px;
}

.photo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: #deeaee;
  padding: .25%;
}

.bill-pic {
  text-align: center;
  max-width: 97%;
  max-height: 97%;
  border-radius: 5%;
  box-shadow: 2px 2px 7px #36486b;
  margin: auto;
}

.summary {
  background: #36486b;
  text-align: left;
  padding: 20px;
}

.header-summary {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #deeaee;
  font-size: 18px;
  line-height: 1.5;

  @include respond(phone) {
    font-size: 1.8rem;
  }
}

.header-hr {
  background-color: #fff;
  border: none;
  height: 1px;
}

.contact-info-technical {
  background-color: #d5e1df;

  
}

.contact-info {
  line-height: 1;
  font-size: 1.5rem;

  @include respond(tab-port) {
    font-size: 1.5rem;
    line-height: 1;
  }
}

.email {
  @include respond(tab-land) {
    font-size: 1.2rem;
  }
  @include respond(tab-port) {
    font-size: 1.5rem;
  }
}

.technical-skills {
  background-color: #d5e1df;
  color: #618685;
}

.fa {
  color: #618685;
}

.icon {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  padding-left: 10px;
  padding-top: 15px;
  font-size: 2rem;
}

.contact-details,
.phone,
.location,
.linkedin,
.project-portfolio {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  padding-left: 10px;
}

.section-projects h3 {
  font-size: 1em;
  color: #36486b;
}

.project-portfolio-link {
  font-size: 0.7em;
}

.links {
  font-size: 0.75em;
}

.link-left {
  margin-left: 15px;
}

.project-list {
  font-weight: 100;
  color: #36486b;
  font-size: 15px;
}

.project-list li {
  
  line-height: 1.5;
}


h5 {
  font-size: 1.8rem;
  line-height: 1.5;
}

.work-experience {
  background-color: #fff;
}

.job-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
}

.job-note {
  margin-left: 15px;
}

.role {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #618685;
  font-size: 0.75em;
}

.company {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1em;
}

.MSLogo {
  width: 22.5%;
  padding-right: 15px;
}

.CSLogo {
  width: 20%;
  padding-right: 15px;
  padding-bottom: 15px;
}

.job-div {
  justify-content: space-between;
}

.time-range {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 15px;
}

.job-summary {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 15px;
  margin-left: 15px;
}

.accomplishments {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #618685;
  font-size: 15px;
  margin-left: 2px;
  margin-top: 10px
}

.work-bullets {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: black;
  font-size: 15px;
}

.education {
  line-height: 10px;
  padding-bottom: 15px;
}

.degree {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 15px;
}

.college {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 15px;
}

meter::-webkit-meter-optimum-value {
  background: #618685; /* Required to get rid of the default background property */
  background-color: #618685;
  box-shadow: 0 5px 5px -5px #333 inset;
}

.resume-div {
  margin-top: 25px;
}

.download-button {
  margin-top: 1.5%;
  background-image: linear-gradient(to right bottom, $color-blue-light-3, $color-blue-light-2, white);
  border: 2px white solid;
  transition: .2s all;
  font-size: 1.75rem;

  &:hover {
    color: white;
    border: white 2px solid;
    transform: translateY(-2px);
  }

  @include respond(tab-port) {
    font-size: 2.25rem;
    margin-top: 2rem;
  }

  @include respond(phone) {
    font-size: 1.3rem;
    margin-top: 2rem;
  }
}

.row {
  margin-right: 0 !important;
  background-color: $color-white;
}


@media screen and (max-width: 1300px) {
  .contact-info-technical {
    padding: 0 !important;
  }
}

@media screen and (max-width: 1100px) {
  .contact-info-technical {
    padding: 0 !important;
  }
}

@media screen and (max-width: 900px) {
  .resume-div {
    margin-left: 15px;
  }

  .bill-pic {
    width: 150px;
  }

  .container {
    min-width: 99vw;
  }

  .education {
    line-height: 10px;
  }

  .degrees {
    margin: auto;
  }
}

@media screen and (max-height: 450px) {
  .hero {
    height: 30vh;
  }
  .hero-header {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .download-button {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  
}


@media screen and (max-width: 600px) {
 
  .resume-div {
    margin-left: 15px;
  }

  .section-projects {
    padding-left: 25px;
  }

  .MSLogo {
    width: 50%;
  }
  .CSLogo {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
 
  .resume-div {
    margin-left: 15px;
  }
  .section-projects {
    padding-left: 15px;
  }

  .education {
    line-height: 15px;
  }

  .text-wrap {
    line-height: 25px;
    margin-bottom: 10px;
  }
}
