*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#5dbcd2, #0077be);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 225%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #c69963;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #6D5D4B;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.about {
  height: 93vh;
  width: 100vw;
  color: #fff; }
  .about__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
    overflow: hidden; }
    .about__video--content {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .about__hero {
    background-color: #0077be;
    display: flex;
    padding: 3rem; }
  .about__headers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3rem; }
  .about__photo {
    max-width: 10rem;
    border-radius: 5px;
    align-self: center;
    justify-self: center; }
  .about__title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1.2rem;
    text-transform: uppercase;
    font-size: 4rem;
    color: #fff; }
    .about__title:hover {
      transform: skewY(-5deg) scale(1.1); }
  .about__subtitle {
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.62rem;
    color: #54483A; }
  .about__story {
    font-size: 1.8rem;
    font-family: sans-serif;
    line-height: 1.6;
    color: #0077be;
    margin: 3rem 25vw; }
    .about__story:hover {
      transform: scale(1.25); }

.skills {
  margin-top: 3rem;
  text-align: center; }
  .skills__header {
    font-size: 2.5em;
    color: #000; }
  .skills__container {
    padding: 3rem;
    display: grid;
    grid-template-rows: minmax(30rem, 1fr);
    grid-template-columns: [card-1-start] minmax(20rem, 40rem) [card-1-end card-2-start] minmax(20rem, 40rem) [card-2-end card-3-start] minmax(20rem, 40rem) [card-3-end];
    grid-gap: 5rem;
    justify-content: center; }
  .skills__card {
    margin-top: 3rem;
    border: 2px solid #f9f7f6;
    border-radius: 1rem;
    box-shadow: 0 0 15px #6D5D4B;
    background-color: #5dbcd2; }
    .skills__card--header {
      font-size: 2rem;
      padding: 2rem;
      background-color: black;
      border-radius: 1rem 1rem 0 0; }
    .skills__card--list {
      font-size: 1.4rem;
      list-style: none;
      padding: 1rem; }
    .skills__card:hover {
      background-color: #0077be;
      transform: translateY(-3px); }

.footer {
  height: 7vh;
  background-color: #0077be;
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer__contact {
    color: #fff; }
