/*
0 - 600px: Phone
600 - 900px:  Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px: Desktop (where our normal styles apply for this project)
1800px+ : Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#cde7ef, lightsteelblue);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 225%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }
  @media only screen and (max-width: 75em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 4rem; } }
  @media only screen and (max-width: 56.25em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 4rem; } }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: lightsteelblue;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #6D5D4B;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.modal {
  display: none;
  /* Hide modal by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); }

.modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50vw;
  max-width: 80%; }
  @media only screen and (max-width: 56.25em) {
    .modal-content {
      width: 80vh;
      max-width: 80%;
      padding: 15px; } }
  @media only screen and (max-width: 37.5em) {
    .modal-content {
      width: 95vh;
      max-width: 95%;
      padding: 10px; } }

.close {
  position: absolute;
  top: -0.5rem;
  right: 0.5rem;
  color: #000;
  font-size: 2rem;
  font-weight: bold; }
  @media only screen and (max-width: 56.25em) {
    .close {
      top: -0.5rem;
      right: 0.25rem;
      font-size: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .close {
      font-size: 1.5rem; } }

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

.projects__card {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 1.5rem;
  padding: 1rem;
  color: midnightblue;
  background-image: linear-gradient(45deg, #fff, 75%, midnightblue);
  box-shadow: 3px 3px 10px #6D5D4B;
  font-family: "Lato", non-serif;
  transition: all .8s ease; }
  @media only screen and (max-width: 75em) {
    .projects__card {
      width: 40rem; } }
  @media only screen and (max-width: 56.25em) {
    .projects__card {
      width: 42rem; } }
  @media only screen and (max-width: 37.5em) {
    .projects__card {
      width: 40rem; } }
  .projects__card:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0.2rem 0.2rem 0.5rem #fff; }
  .projects__card--image-container {
    width: 100%;
    height: 260px;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer; }
  .projects__card--image-buttons {
    background-color: whitesmoke;
    border: 1px solid lightsteelblue;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .projects__card--image-buttons_div {
      padding: 0;
      margin-top: -0.55rem; }
  .projects__card--image-container-forward, .projects__card--image-container-back {
    border: none;
    color: #0077be;
    background-color: transparent;
    font-size: 2rem; }
  .projects__card--image-container-p {
    display: inline-flex;
    color: #0077be;
    font-size: 1.1rem;
    font-weight: 900;
    margin: auto;
    margin-bottom: 0.25rem; }
  .projects__card--image-container-p2 {
    width: 5rem;
    visibility: hidden; }
  .projects__card-body {
    padding: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .projects__card-body--title {
      font-size: 1.75rem;
      padding: 1rem;
      text-transform: uppercase;
      color: midnightblue;
      text-shadow: 1px 1px white; }
      @media only screen and (max-width: 75em) {
        .projects__card-body--title {
          font-size: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .projects__card-body--title {
          font-size: 2.5rem; } }
    .projects__card-body--text {
      padding: 1rem;
      color: midnightblue; }
      @media only screen and (max-width: 75em) {
        .projects__card-body--text {
          font-size: 2.25rem; } }
      @media only screen and (max-width: 37.5em) {
        .projects__card-body--text {
          font-size: 2rem; } }
  .projects__card-footer {
    margin-top: auto;
    color: #fff;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-evenly; }
    .projects__card-footer--link {
      width: 7rem;
      margin: 1rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
      transition: .2s;
      background-image: radial-gradient(lightsteelblue, #0077be); }
      @media only screen and (max-width: 75em) {
        .projects__card-footer--link {
          font-size: 1.6rem;
          padding: .6rem;
          width: 10rem; } }
      @media only screen and (max-width: 56.25em) {
        .projects__card-footer--link {
          font-size: 2.25rem;
          padding: .75rem;
          width: 14rem; } }
      @media only screen and (max-width: 37.5em) {
        .projects__card-footer--link {
          font-size: 1.75rem;
          width: 9rem; } }
      .projects__card-footer--link:link {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase; }
      .projects__card-footer--link:visited {
        color: #fff; }
      .projects__card-footer--link:hover {
        transform: translateY(2px);
        box-shadow: 2px 2px 10px #fff; }

.fas,
.fab {
  margin-right: 8px; }

.footer {
  height: 7vh;
  background-color: lightsteelblue;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .footer {
      height: auto; } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      height: auto; } }
  .footer__contact {
    color: #fff;
    margin-right: 3rem;
    font-size: 1.5rem; }
    @media only screen and (max-width: 75em) {
      .footer__contact {
        font-size: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__contact {
        font-size: 2.25rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__contact {
        padding-left: 1rem;
        font-size: 1.3rem;
        margin-right: 0; } }
  .footer__icon {
    font-size: 2rem;
    color: #fff;
    padding: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__icon {
        font-size: 3rem;
        padding: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__icon {
        font-size: 2rem;
        padding: 1rem; } }

.about {
  max-height: 105vh;
  width: 100vw;
  color: #fff;
  overflow: hidden; }
  @media only screen and (max-width: 75em) {
    .about {
      min-height: 95vh;
      max-height: 100vh; } }
  @media only screen and (max-width: 56.25em) {
    .about {
      min-height: 95vh;
      max-height: 500vh; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      display: flex;
      flex-direction: column;
      max-height: 400vh; } }
  .about__video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
    overflow: hidden; }
    .about__video--content {
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1; }
  .about__hero {
    background-color: lightsteelblue;
    display: flex;
    padding: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .about__hero {
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__hero {
        display: block;
        text-align: center;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
        padding-bottom: 5rem; } }
  .about__headers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .about__headers {
        padding-left: 0;
        align-items: center; } }
  .about__photo {
    max-width: 10rem;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    transition: .3s all; }
    .about__photo:hover {
      transform: scale(1.1); }
  .about__title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1.2rem;
    text-transform: uppercase;
    font-size: 4rem;
    color: #fff; }
    .about__title:hover {
      transform: skewY(-5deg) scale(1.1); }
    @media only screen and (max-width: 56.25em) {
      .about__title {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__title {
        font-size: 3rem;
        padding-top: 1.5rem;
        letter-spacing: 1.2rem; } }
  .about__subtitle {
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.62rem;
    color: #54483A; }
    @media only screen and (max-width: 56.25em) {
      .about__subtitle {
        font-size: 2.25rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__subtitle {
        font-size: 2rem;
        letter-spacing: .57rem;
        margin-left: -5px; } }
  .about__story {
    font-size: 1.7rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #6D5D4B;
    margin: 2rem 25vw;
    letter-spacing: .2rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center; }
    .about__story:hover {
      transform: scale(1.05); }
    @media only screen and (max-width: 75em) {
      .about__story {
        margin: 2rem 15rem 2rem 15rem;
        font-size: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .about__story {
        margin: 9rem;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        font-size: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__story {
        margin: 2rem;
        margin-top: 3rem;
        font-size: 1.75rem; } }
    .about__story-link {
      text-decoration: none;
      padding: 0.25rem 1rem;
      border-radius: 15px;
      background-color: lightsteelblue;
      color: #fff;
      box-shadow: 2px 2px 5px black; }
      .about__story-link:nth-child(2) {
        margin-right: 5px; }
      .about__story-link:hover {
        cursor: pointer;
        background-color: #fff;
        color: lightsteelblue; }

.skills {
  margin-top: 1rem;
  text-align: center; }
  .skills__header {
    font-size: 2.5em;
    font-weight: 900;
    color: #0077be;
    text-shadow: 1px 1px #ffbf00;
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin-bottom: 0; }
    @media only screen and (max-width: 75em) {
      .skills__header {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .skills__header {
        margin-bottom: 2rem; } }
  .skills__container {
    display: grid;
    grid-template-rows: minmax(30rem, 1fr) minmax(30rem, 1fr);
    grid-template-columns: [card-1-start] minmax(20rem, 30rem) [card-1-end card-2-start] minmax(20rem, 30rem) [card-2-end card-3-start] minmax(20rem, 30rem) [card-3-end];
    grid-gap: 5rem;
    justify-content: center; }
    @media only screen and (max-width: 75em) {
      .skills__container {
        display: flex;
        margin-bottom: 3rem; } }
    @media only screen and (max-width: 56.25em) {
      .skills__container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .skills__container {
        display: block;
        flex-wrap: wrap; } }
  .skills__card {
    margin-top: 2rem;
    background-color: lightsteelblue;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 20% 100%, 0 85%, 0 50%);
    transition: all .3s ease; }
    @media only screen and (max-width: 75em) {
      .skills__card {
        margin-top: 1rem;
        min-width: 33rem; } }
    @media only screen and (max-width: 56.25em) {
      .skills__card {
        margin-top: 0;
        min-width: 40rem; } }
    @media only screen and (max-width: 37.5em) {
      .skills__card {
        height: 40rem;
        max-width: 20rem;
        margin: auto;
        margin-bottom: 5rem; } }
    .skills__card--header {
      font-size: 2rem;
      padding: 2rem;
      background-color: white;
      color: midnightblue;
      letter-spacing: 0.3rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 37.5em) {
        .skills__card--header {
          height: 7rem;
          border: 1px whitesmoke solid; } }
    .skills__card--list {
      font-size: 1.4rem;
      list-style: none;
      padding: 1rem;
      color: #fff; }
      .skills__card--list:hover {
        color: #fff; }
      @media only screen and (max-width: 75em) {
        .skills__card--list {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 56.25em) {
        .skills__card--list {
          font-size: 2.25rem; } }
      @media only screen and (max-width: 37.5em) {
        .skills__card--list {
          font-size: 1.75rem; } }
    .skills__card:hover {
      background-color: #0077be;
      transform: translateY(-3px);
      color: #fff; }

.card-1 {
  animation: slideRight 1s ease-in;
  position: relative; }

.card-2 {
  animation: slideUp 1s ease-in;
  position: relative; }

.card-3 {
  animation: slideLeft 1s ease-in;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .card-3 {
      align-self: center; } }

#react {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  margin-top: 1rem;
  margin-left: 1rem; }

#css3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  margin-top: 1rem;
  margin-right: 1rem; }

#node {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  margin-top: 1rem;
  margin-left: 1rem; }

#mongo {
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  margin-top: 1rem;
  margin-right: 1rem; }

#python {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  margin-top: 1rem;
  margin-left: 1rem; }

@keyframes slideRight {
  0% {
    transform: translateX(-300%); }
  100% {
    transform: translateX(0%); } }

@keyframes slideLeft {
  0% {
    transform: translateX(300%); }
  100% {
    transform: translateX(0%); } }

@keyframes slideUp {
  0% {
    transform: translateY(300%); }
  100% {
    transform: translateY(0%); } }

@keyframes slideDown {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-300%); } }

.contact {
  text-align: center;
  background-image: linear-gradient(45deg, #fff, 25%, lightsteelblue);
  color: #fff;
  padding-bottom: 3rem;
  min-height: 96vh; }
  .contact__hero {
    height: 23vh;
    background-color: lightsteelblue;
    color: #fff;
    font-family: "Lato", non-serif;
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 2px 2px midnightblue;
    letter-spacing: 1rem;
    clip-path: polygon(50% 100%, 0 0, 100% 0); }
    .contact__hero-header {
      padding-top: 3rem;
      padding-bottom: 1rem;
      font-size: 3rem;
      color: #fff;
      text-transform: uppercase; }
      .contact__hero-header:hover {
        transform: scale(1.5); }
      @media only screen and (max-width: 56.25em) {
        .contact__hero-header {
          font-size: 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .contact__hero-header {
          padding-top: 1rem;
          font-size: 3rem; } }
    .contact__hero-pic {
      border-radius: 10%;
      width: 4%;
      border-radius: 50%;
      transition: .5s all; }
      .contact__hero-pic:hover {
        transform: scale(1.1); }
      @media only screen and (max-width: 75em) {
        .contact__hero-pic {
          width: 6%; } }
      @media only screen and (max-width: 56.25em) {
        .contact__hero-pic {
          width: 13%; } }
      @media only screen and (max-width: 37.5em) {
        .contact__hero-pic {
          width: 15%; } }
  .contact__subheader {
    padding-top: 2rem;
    font-size: 2rem;
    letter-spacing: .5rem;
    animation: blinker 1.5s step-start infinite; }
    @media only screen and (max-width: 75em) {
      .contact__subheader {
        font-size: 3rem; } }
    @media only screen and (max-width: 56.25em) {
      .contact__subheader {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .contact__subheader {
        font-size: 2.75rem; } }
  .contact__container {
    background: #fff;
    margin: 3rem auto;
    width: 70vw;
    font-size: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row; }
    @media only screen and (max-width: 56.25em) {
      .contact__container {
        width: 80vw; } }
    @media only screen and (max-width: 37.5em) {
      .contact__container {
        width: 95vw; } }
  .contact__form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    width: 100%;
    height: 57vh;
    background-image: linear-gradient(45deg, midnightblue, 25%, lightsteelblue);
    justify-self: center;
    padding: 5rem;
    border-radius: 10px; }
    .contact__form-email {
      width: 100%;
      font-size: 1.5rem;
      margin-bottom: 3rem;
      padding: 1rem;
      border-radius: 10px; }
    .contact__form-text {
      width: 100%;
      height: 75%;
      font-size: 1.5rem;
      padding: 1rem;
      border-radius: 10px; }
    .contact__form-button {
      margin-top: 2rem;
      padding: 0.5rem;
      background-image: linear-gradient(to right bottom, lightsteelblue, #5dbcd2, white);
      color: #fff;
      border-radius: 5px;
      border: 2px white solid; }

.success {
  height: 93vh;
  background-color: lightsteelblue;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center; }
  .success__header {
    margin-top: 5rem;
    font-size: 6rem;
    color: chartreuse; }
  .success__message {
    font-size: 3rem; }
  .success__button {
    font-size: 2rem;
    border: #fff 2px solid;
    margin-top: 2rem;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, lightsteelblue, #5dbcd2, white);
    width: 150px;
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
    align-self: center;
    cursor: pointer; }
    .success__button:hover {
      color: chartreuse;
      border: 2px chartreuse solid;
      transform: translateY(-2px); }

@keyframes blinker {
  50% {
    color: midnightblue; } }

@media screen and (max-height: 450px) {
  .contact__hero {
    height: 30vh; }
  .contact__hero-header {
    font-size: 3rem;
    margin-bottom: 0; }
  .contact__hero-pic {
    display: none; }
  .contact__container {
    min-height: 500px; }
  .contact__form {
    min-height: 500px; } }

.portfolio {
  text-align: center;
  background-image: linear-gradient(45deg, #fff, 75%, lightsteelblue);
  min-height: 93vh; }
  .portfolio__hero {
    background-color: lightsteelblue;
    margin-bottom: 3rem;
    clip-path: polygon(50% 100%, 0 0, 100% 0); }
    @media only screen and (max-width: 37.5em) {
      .portfolio__hero {
        height: 22vh; } }
    .portfolio__hero-header {
      padding: 1.5rem;
      color: #fff;
      font-family: "Lato", non-serif;
      font-weight: 900;
      font-size: 3.5rem;
      text-shadow: 2px 2px midnightblue;
      letter-spacing: 1rem; }
      .portfolio__hero-header:hover {
        transform: scale(1.1); }
      @media only screen and (max-width: 37.5em) {
        .portfolio__hero-header {
          font-size: 3rem;
          padding-bottom: 0; } }
    @media only screen and (max-width: 37.5em) {
      .portfolio__hero-headerspan {
        display: block;
        padding-top: .5rem; } }
    .portfolio__hero-logo {
      width: 10%;
      transition: 1s; }
      .portfolio__hero-logo:hover {
        transform: rotate(360deg); }
      @media only screen and (max-width: 37.5em) {
        .portfolio__hero-logo {
          width: 15%; } }
  .portfolio__buttons--btn {
    width: 10rem;
    margin: 1rem;
    padding: .5rem;
    background-image: linear-gradient(to right bottom, lightsteelblue, #5dbcd2, white);
    font-size: 2rem;
    color: #fff;
    border: none;
    border-radius: .5rem;
    box-shadow: 1px 1px 1px #fff; }
    .portfolio__buttons--btn:hover {
      transform: translateY(2px) scale(1.1);
      box-shadow: 2px 2px 1px #fff; }
    @media only screen and (max-width: 56.25em) {
      .portfolio__buttons--btn {
        width: 14rem;
        font-size: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .portfolio__buttons--btn {
        width: 10rem;
        font-size: 1.75rem; } }

.projects {
  width: 100vw;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  animation: slideUp 1s; }

#root,
#root::before,
#root::after {
  box-sizing: border-box !important; }

.resume {
  background-image: linear-gradient(45deg, #fff, 25%, lightsteelblue);
  padding-bottom: 0.5rem; }

.body-div {
  margin: 10%;
  margin-bottom: 3%; }
  @media only screen and (max-width: 75em) {
    .body-div {
      margin-left: 2%;
      margin-right: 2%; } }

.container {
  padding-bottom: 3rem;
  background-color: #0077be; }

.hero {
  height: 20vh;
  background-color: lightsteelblue;
  color: #fff;
  font-family: "Lato", non-serif;
  font-weight: 900;
  font-size: 2rem;
  text-shadow: 2px 2px midnightblue;
  letter-spacing: 1rem;
  text-align: center;
  clip-path: polygon(50% 100%, 0 0, 100% 0); }

.hero-header {
  padding-top: 3rem;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase; }
  .hero-header:hover {
    transform: scale(1.2); }
  @media only screen and (max-width: 56.25em) {
    .hero-header {
      padding-top: 3rem;
      font-size: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .hero-header {
      padding-top: 1.5rem;
      font-size: 3rem; } }

p {
  text-indent: 1%; }

.header-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #f0f0f0;
  font-size: 30px; }

.header-occupation {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f0f0f0;
  font-size: 20px; }

.section-headers {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #618685;
  font-size: 22px;
  padding-top: 10px; }

.main-sections {
  padding-left: 10px;
  padding-right: 15px;
  background-color: #fff; }

.skills-subheading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #618685;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 5px; }

.skills-list {
  font-size: 16px;
  padding-left: 30px; }

.photo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: #deeaee;
  padding: .25%; }

.bill-pic {
  text-align: center;
  max-width: 97%;
  max-height: 97%;
  border-radius: 5%;
  box-shadow: 2px 2px 7px #36486b;
  margin: auto; }

.summary {
  background: #36486b;
  text-align: left;
  padding: 20px; }

.header-summary {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #deeaee;
  font-size: 18px;
  line-height: 1.5; }
  @media only screen and (max-width: 37.5em) {
    .header-summary {
      font-size: 1.8rem; } }

.header-hr {
  background-color: #fff;
  border: none;
  height: 1px; }

.contact-info-technical {
  background-color: #d5e1df; }

.contact-info {
  line-height: 1;
  font-size: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .contact-info {
      font-size: 1.5rem;
      line-height: 1; } }

.email {
  font-size: 1.3rem; }
  @media only screen and (max-width: 75em) {
    .email {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 56.25em) {
    .email {
      font-size: 1.5rem; } }

.technical-skills {
  background-color: #d5e1df;
  color: #618685; }

.fa {
  color: #618685; }

.icon {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  padding-left: 10px;
  padding-top: 15px;
  font-size: 2rem; }

.contact-details,
.phone,
.location,
.linkedin,
.project-portfolio {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  padding-left: 10px; }

.section-projects h3 {
  font-size: 1em;
  color: #36486b; }

.project-portfolio-link {
  font-size: 0.7em; }

.links {
  font-size: 0.75em; }

.link-left {
  margin-left: 15px; }

.project-list {
  font-weight: 100;
  color: #36486b;
  font-size: 15px; }

.project-list li {
  line-height: 1.5; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5; }

.work-experience {
  background-color: #fff; }

.job-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400; }

.job-note {
  margin-left: 15px; }

.role {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #618685;
  font-size: 0.75em; }

.company {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1em; }

.MSLogo {
  width: 22.5%;
  padding-right: 15px; }

.CSLogo {
  width: 20%;
  padding-right: 15px;
  padding-bottom: 15px; }

.job-div {
  justify-content: space-between; }

.time-range {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 15px; }

.job-summary {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 15px;
  margin-left: 15px; }

.accomplishments {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #618685;
  font-size: 15px;
  margin-left: 2px;
  margin-top: 10px; }

.work-bullets {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: black;
  font-size: 15px; }

.education {
  line-height: 10px;
  padding-bottom: 15px; }

.degree {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 15px; }

.college {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 15px; }

meter::-webkit-meter-optimum-value {
  background: #618685;
  /* Required to get rid of the default background property */
  background-color: #618685;
  box-shadow: 0 5px 5px -5px #333 inset; }

.resume-div {
  margin-top: 25px; }

.download-button {
  margin-top: 1.5%;
  background-image: linear-gradient(to right bottom, lightsteelblue, #5dbcd2, white);
  border: 2px white solid;
  transition: .2s all;
  font-size: 1.75rem; }
  .download-button:hover {
    color: white;
    border: white 2px solid;
    transform: translateY(-2px); }
  @media only screen and (max-width: 56.25em) {
    .download-button {
      font-size: 2.25rem;
      margin-top: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .download-button {
      font-size: 1.3rem;
      margin-top: 2rem; } }

.row {
  margin-right: 0 !important;
  background-color: #fff; }

@media screen and (max-width: 1300px) {
  .contact-info-technical {
    padding: 0 !important; } }

@media screen and (max-width: 1100px) {
  .contact-info-technical {
    padding: 0 !important; } }

@media screen and (max-width: 900px) {
  .resume-div {
    margin-left: 15px; }
  .bill-pic {
    width: 150px; }
  .container {
    min-width: 99vw; }
  .education {
    line-height: 10px; }
  .degrees {
    margin: auto; } }

@media screen and (max-height: 450px) {
  .hero {
    height: 30vh; }
  .hero-header {
    font-size: 3rem;
    margin-bottom: 0; }
  .download-button {
    margin-top: 1rem;
    font-size: 1.2rem; } }

@media screen and (max-width: 600px) {
  .resume-div {
    margin-left: 15px; }
  .section-projects {
    padding-left: 25px; }
  .MSLogo {
    width: 50%; }
  .CSLogo {
    width: 50%; } }

@media screen and (max-width: 400px) {
  .resume-div {
    margin-left: 15px; }
  .section-projects {
    padding-left: 15px; }
  .education {
    line-height: 15px; }
  .text-wrap {
    line-height: 25px;
    margin-bottom: 10px; } }
