.featuredProject {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - 2rem);;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    min-width: 37rem;
    background-color: $color-blue-light-3;
    color: $color-blue-light-3;
    align-items: center;
    visibility: hidden;
 
    /* Apply different animation delays to each box */
    &:nth-child(1) {
      animation: fadeIn 1.5s ease forwards 0.2s; /* Delay the first box by 0.2s */
    }
  
    &:nth-child(2) {
      animation: fadeIn 1.5s ease forwards 0.7s; /* Delay the second box by 0.7s */
    }
  
    &:nth-child(3) {
      animation: fadeIn 1.5s ease forwards 1.2s; /* Delay the third box by 1.2s */
    }
  
    &:nth-child(4) {
      animation: fadeIn 1.5s ease forwards 1.7s; /* Delay the fourth box by 1.7s */
    }


    @include respond(tab-land) {
        min-width: 45vw;
    }
    @include respond(tab-port) {
        min-width: 45vw;
    }
    @include respond(phone) {
        min-width: 92vw;
    }
    @include respond(small-phone) {
        min-width: 33rem;
        max-width: 95vw;
    }
    
      

    &__header {
        color: white;
    }

    &__image_div {
        width: 100%;
        &_image {
            width: 100%;
        }
    }

    &__summary {
        margin: 20px;
        padding: 20px;
        background-color: white;
        flex-grow: 1;
        &_list {
            list-style: none;
        }
    }

}


@keyframes fadeIn {
    0% {
      transform: scale(0.1);
      visibility: visible;
      opacity: 0;
    }
    100% {
      transform: scale(1);
      visibility: visible;
      opacity: 1;
    }
  }