.featuredProject {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - 2rem);;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    min-width: 37rem;
    
    background-color: $color-blue-light-3;
    color: $color-blue-light-3;
    align-items: center;
    @include respond(tab-land) {
        min-width: 45vw;
    }
    @include respond(tab-port) {
        min-width: 45vw;
    }
    @include respond(phone) {
        min-width: 92vw;
    }
    @include respond(small-phone) {
        min-width: 33rem;
        max-width: 95vw;
    }
    
      

    &__header {
        color: white;
    }

    &__image_div {
        width: 100%;
        &_image {
            width: 100%;
        }
    }

    &__summary {
        margin: 20px;
        padding: 20px;
        background-color: white;
        flex-grow: 1;
        &_list {
            list-style: none;
        }
    }

}