.projects__card {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 1.5rem;
    // padding: 1rem;
    // border: 2px solid $color-blue-light-1;
    // border-radius: 1rem;
    color: $color-white;
    background-color: $color-blue-light-3;
    box-shadow: 3px 3px 10px $color-grey-dark-2;
    font-family: "Lato", non-serif;
    // animation: slideUp 1s ease-in-out;
    transition: all .8s ease;
  
    &:hover {
      transform: translateY(-3px) scale(1.05);
      box-shadow: .2rem .2rem .5rem $color-white;
    }
  
    &--image-photo {
      width: 100%;
      object-fit: contain;
      // border-radius: 1rem;
    }
  
    &-body {
      padding: 1.5rem;
      background-color: $color-blue-light-3;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
  
      &--title {
        font-size: 1.75rem;
        padding: 1rem;
        text-transform: uppercase;
        color: $color-blue-dark;
        text-shadow: 1px 1px white;
      }
  
      &--text {
        padding: 1rem;
        color: $color-white;
      }
    }
  
    &-footer {
      margin-top: auto;
      color: $color-white;
      padding-bottom: 2rem;
      display: flex;
      justify-content: space-evenly;
      &--link {
        
        width: 7rem;
        margin: 1rem;
        //border: 2px $color-blue-light-1 solid;
        padding-top: .5rem;
        padding-bottom: .5rem;
        
        //border-radius: 5px;
        transition: .2s;
        background-image: radial-gradient($color-blue-light-3, $color-blue-med);

        @include respond(tab-land) {
          font-size: 1.7rem;
          width: 10rem;
        }

        @include respond(tab-port) {
          font-size: 1.8rem;
          width: 12rem;
        }

        @include respond(phone) {
          font-size: 1.5rem;
          width: 8rem;
        }
        &:link {
          color: $color-white;
          text-decoration: none;
          text-transform: uppercase;
        }
  
        &:visited {
          color: $color-white;
        }
  
        &:hover {
          transform: translateY(2px);
          box-shadow: 2px 2px 10px $color-white;
        }
      }
    }
  }

.fas, .fab {
  margin-right: 3px;
}
  
